:root {
  --primary-color: #c8c8c9;
  background-color: #222222;
}

body {
  color: var(--primary-color);
}

.borderBox {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #2a2a2b;
  padding: 10px;
}

#transactionTable {
  width: 100%;
  border-collapse: collapse;
}

#transactionTable th, #transactionTable td {
  border-bottom: 2px solid #333335;
  text-align: left;
  padding: 8px;
}

.amountWrap {
  position: relative;
  display: inline-block;
}

.amountPrefix {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.amountWrap input {
  padding-left: 18px;
}

.typeBtn.selected {
  background-color: black;
  color: white;
}